body {
	font-family: helvetica;
	font-size: 1.50rem;
	width: 90vw;
	margin: 5rem auto;
  background-color: #363534;
}

form {
    background-color: rgba(255,238,95,100);
    border: 10px solid white;
    width: 30rem;
    margin: 5rem auto;
    padding: 45px;
    border-radius: 6px;}

main {
	column-count: 1;
}

h1 {
	font-weight: 900;
	font-size: 2.6rem;
	margin-bottom: 5vw;
	color: white;
}

p{
	color: white;
	padding-top: 4rem;
}

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

a {
	display: block;
	margin-bottom: 1rem;
	break-inside: avoid;
	text-decoration: none;
	color: black;
}

h2 {
  font-size: 1.6rem;
	color: black;
}

img {
	max-width: 100%;
	display: block;
	margin-bottom: 1rem;
  margin-top: 5rem;
}

img:hover {
	filter: grayscale(100%);
	border-radius: 10%;
}

/*Ellen*/
.menu {
	position: fixed;
	top: 2rem;
	right: 7rem;
}


@media (min-width: 800px) {

	nav {
		background-color: #fa8072;
		width: 5vw;
		height: 40vw;
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 11rem;
		padding: 7rem;
	}

	nav a {
		color: white;
		margin-bottom: 2rem;
		margin-right: 2rem
		font-weight: 300;
	}
}

@media (min-width: 1100px) {

}


/*LICHTE EN DONKERE FUNCTIE*/
nav {
	margin-bottom: 1rem;
	display: none;
	flex-direction: column;
}

nav a {
	color: black; //kleur van de tekst van het menu
	text-decoration: none;
	font-size: 1rem;
	padding: .3rem;
}

body.light {
	background-color: white;
}

.light h2{
	color: black;
}

.light p{
	color: black;
}

.light h1, .light p {
	color: black;
}

.light nav a:nth-child(2) {
	background-color: #fa8072;
	color: white;
}

nav a:nth-child(1) {
	background-color: #fa8072;
	color: white;
}

.light nav a:nth-child(1) {
	background-color: none;
	color: black;
}
